<%- include('../_layouts/adminheader') %>
<h1>Area List</h3>
<a class="btn btn-danger" href="/admin/area/add-area">Add a Area</a>
<br><br>
<table class="table table-striped table-dark">
  <tr>
    <th>Area</th>
    <th>City</th>
  </tr>
  <% area.forEach(function(area){ %>
    <tr>
      <td><%= area.areaName %></td>
      <td><%= area.cityName %></td>
    </tr>
  <% }) %>
</table>
<%- include('../_layouts/adminfooter') %>
