<%- include('../_layouts/adminheader') %>
<h1>City List</h3>
<a class="btn btn-danger" href="/admin/city/add-city">Add a City</a>
<br><br>
<table class="table table-striped table-dark">
  <tr>
    <th>City</th>
  </tr>
  <% city.forEach(function(city) { %>
  <tr>
    <td><%= city.cityName %></td>
  </tr>
  <% }); %>
</table>
<%- include('../_layouts/adminfooter') %>
