<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Area</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> <!-- dont use slim.js-->
    <link rel="stylesheet" href="/css/adminstyles.css">


  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark"> <!-- ***Remove fixed-top **-->
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/turfs">Turfs</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/city">City</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/area">Area</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/format">Format</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/time">Time</a>
          </li>
      </div>
    </nav>
    <div class="container">
      <%- messages('messages', locals) %>

      <% if(errors) { %>
        <% errors.forEach(function(error) { %>
          <div class="alert alert-danger"><%= error.msg %></div>
        <% }) %>
      <% } %>
