<% Object.keys(messages).forEach(function (type) { %>
  <div class="container">
    <div class="alert alert-<%= type %>">
      <% messages[type].forEach(function (message) { %>
        <%= message %>
      <% }) %>
    </div>
  </div>
<% }) %>
