<% include _layouts/header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Payment Methods</h1>
      <hr>
      <h5>Pay via</h5>
      <a class="btn btn-outline-success pay" href="/payment/pay">Paypal</a>
    </div>
  </div>
</div>
<% include _layouts/footer %>
<script type="text/javascript">
  $(function() {
    $('a.pay').click(function() {
      $('.ajaxbg').show();
    });
  });
</script>
