button.timings {
  margin: 3px;
}
/* images from turf list */
#noimage {
  width: 100px;
  height: 100px;
}

#imgPreview{
  margin: 20px;
}

ul.gallery{
  padding: 0;
}

ul.gallery:first-child{
  margin-left: 0;
}

ul.gallery li{
  margin: 20px;
  display: inline-block;
  list-style-type: none;
}
