body{
  background: linear-gradient(rgb(33, 95, 0), rgb(228, 228, 217));

}

.category-style{
  /* The image used */
   background-image: url("http://download.4-designer.com/files/20150801/HD-football-field-54540.jpg");

   /* Set a specific height */
   height: 250px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
}

.align-items-center-category {
  margin: 10px;
}
div.deck-align {
  margin-top: 10px;
  margin-bottom:10px;
}


button.timings {
  margin: 2px;
}

/* .img-resize{
  height: 500px !important;
    width: 850px !important;
} */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.carousel-inner {
  border-radius: 15px;
}

.pp {
  position: absolute;
  left: -3000px;
}

.ajaxbg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8); /* makes transparent bg */
  z-index: 2; /* makes bg display upfront */
  display: none;
}
.ajaxinner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* To position to center */
  text-align: center;
}

.alert-error { /* This is for the default passport messages */
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
